<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metadata Extraction</title>
    
</head>
<body>
    <h1>Welcome to Metadata Extraction</h1>
    
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="folder">Choose a folder:</label>
        <input type="file" id="folder" name="folder" webkitdirectory directory multiple>
        <br>
        <input type="submit" value="Upload Folder">
    </form>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
